div {
    border: 0.01px solid;
    border-color: black;
}

.modal-position {
    width: 900px;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-hidden {
    background-color: white;
    opacity: 0;
    border-radius: 5%;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.modal-visible {
    opacity: 1;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.modal-bg-position {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-bg-hidden {
    background: rgba(0,0,0,0);
    visibility: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.modal-bg-visible {
    background: rgba(0,0,0,0.3);
    visibility: visible;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.modal-closeBtn {
    position: relative;
    height: 10%;
    font-size: 200%;
}

.modal-closeBtn p {
    position: absolute;
    right: 5%;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.modal-content-wrapper {
    display: flex;
    height: 75%;
}

.modal-content-wrapper-hidden {
    display: none;
}

.modal-content-wrapper p {
    margin: 0;
}

.modal-content-wrapper h2 {
    font-size: 100%;
    margin: 0;   
}

.modal-content-1st {
    margin: 0 20px 0 56px;
    width: 50%;
}

.learn-day {
    height: 20%;
}

.learn-day-text {
    width: 100%;
    box-sizing: border-box;
}

.learn-content {
    height: 35%;
}

.learn-content p {
    display: inline-block;
}

.learn-lang {
    height: 45%;
}

.learn-lang p {
    display: inline-block;
}

.modal-content-2nd {
    margin: 0 56px 0 20px;
    width: 50%;
}

.modal-done-wrapper {
    position: relative;
    height: 90%;
    display: none;
}

.modal-done-wrapper-visible {
    display: block;
}

.modal-done {
    position: absolute;
    top: calc(400% / 9);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-done p {
    margin: 0;
}

.learn-time {
    height: 20%;
}

.learn-time-text {
    width: 100%;
    box-sizing: border-box;
}

.twitter {
    height: 80%;
}

.twitter-text {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    resize: none;
}

.modal-postBtn {
    height: 15%;
    text-align: center;
    position: relative;
    display: none;
}

.modal-postBtn-visible {
    display: block;
}

.modal-postBtn button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.body-wrapper {
    height: 100vh;
}

.index-header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    height: 32px;
}

.index-header-div1st {
    display: flex;
    align-items: center;
}

.index-h1 {
    padding: 0;
    margin: 0;
}

.postBtn {
    cursor: pointer;
}

.studytime-wrapper {
    text-align: center;
    width: 45%;
    margin: 0 0 0 5%;
}

.studytime {
    display: flex;
    height: 30%;
    box-sizing: border-box;
}

.studytime div {
    margin: 20px 10px;
    width: calc(100% / 3);
}

.studytime p {
    margin: 0;
}

.bargraph {
    height: calc(70% - 20px);
    margin: 0 10px 20px 10px;
    box-sizing: border-box;
}

.piecharts {
    display: flex;
    width: 45%;
    margin: 0 5% 0 0;
}

.piecharts div {
    margin: 20px 10px;
    width: 50%;
}

.piecharts p {
    margin: 0 0 0 20px;
    height: 0%;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    height: calc(100% - 128px);
}

.index-footer {
    text-align: center;
    height: 64px;
}